[submodule "go-scad-render"]
	path = go-scad-render
	url = git@github.com:leocov-dev/go-scad-render
[submodule "projects/_vendor/BOSL2"]
	path = projects/_vendor/BOSL2
	url = git@github.com:revarbat/BOSL2.git
